.prevent-text-select {
    -webkit-user-select: none;
    user-select: none;
}

.single-char {
    border: 1px solid #ccc;
}


.word {
    border: 1px solid #ccc;
    padding: 15px;
    display: inline;
}

span {
    padding: 10px;
}
